body{
 background-color: #48426d;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Montserrat', sans-serif;
}

div{
background-color: #f8f1f1;
padding: 20px;
border-radius: 30px;
color: #48426d;
opacity: 70%;
width: 300px;
height: 300px;
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
text-align: center;
}

h2{
 letter-spacing: 1px;
}